<mat-toolbar color="primary">
      <button
        type="button"
        mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon  aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
      
      <span class="top-bar-title">Business & Go</span>
</mat-toolbar>
<app-tabs></app-tabs>
